{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Day To Day {% endblock title %} 
{% block subtitle %}Calendar {% endblock subtitle %}
{% block content %}


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">                              
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div><!-- /.box-body -->
            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->  


    
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Day By Day Activity</h4>
              </div>
              <div class="modal-body">
                    <form name="form1" id="form1">
                        <input type="hidden" id="token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                        
                         <div class="form-group">
                            <label class="col-sm-3 control-label">* Activity</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <select name="activity" class="form-control"  id="activity">
                                    {% for activity in activities %}
                                    <option data="{{ activity.color }}" value="{{ activity.id }}">{{ activity.name }}</option>
                                    {% endfor %}
                                    </select>
                    
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">* Project</label>
                            <div class="row">
                                <div class="col-xs-5">
                                    <select name="activity" class="form-control"  id="activity">
                                    {% for project in projects %}
                                    <option data="{{ project.id }}" value="{{ project.id }}">{{ project.title }}</option>
                                    {% endfor %}
                                    </select>
                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">* Title</label>
                            <div class="row">
                                <div class="col-xs-8">
                                    <input type="text" name="title" class="form-control" id="title" />
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">* Description</label>
                            <div class="row">
                                <div class="col-xs-8">
                                    <textarea class="form-control" rows="4" name="description" id="description">
                                        
                                        
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-7 control-label"></label>
                            <div class="row">
                                <div class="col-xs-4 pull-right">
                                    <button type="button" class="btn btn-danger btn-flat hide"   id="remove">Remove Event</button>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        
                        <input type="hidden" name="id"          id="eventId"        value=""    />
                        <input type="hidden" name="action"      id="action"         value="add" />
                        <input type="hidden" name="datestart"   id="datestart"      value="add" />
                        <input type="hidden" name="dateend"     id="dateend"        value="add" />
                        
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat"  data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-flat"   id="saveChanges">Save changes</button>
                
              </div>
            </div>
          </div>
        </div>
        
    <!-- Finaliza Modal -->
    





{% endblock %}
{% block scripts %}
  <script src="{% static "js/jquery-ui-1.10.3.min.js" %}"></script>
  <script src="{% static "plugins/fullcalendar/moment.min.js" %}"></script>
  <script src="{% static "plugins/fullcalendar/jquery-ui.custom.min.js" %}"></script>
  <script src="{% static "plugins/fullcalendar/fullcalendar.min.js" %}"></script>
  <script src="{% static "js/calendar/list.js" %}"></script>
  <link href="{% static  "plugins/fullcalendar/fullcalendar.css" %}" rel="stylesheet" type="text/css" />
  <!-- DatePicker -->  
{% endblock scripts %}