{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Team Performance
{% endblock title %}
{% block content %}


<div ng-controller="teamController" ng-init="init()">

    <form action="#" class="form-horizontal"    role="form" id="frmmyTasks">
        <input type="hidden" id="token"         name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" id="taskFinished"  name="finished"  value="True"  />
        <input type="hidden" id="taskType"      name="type"     value="week"  />
    </form>
    <h3 ><i class="fa fa-dashboard"></i> {{ area.name }}</h3>
    <div class="row text-left">
        <div class="col-xs-6">
            <div class="btn-group">
               
                <button type="button" class="btn btn-default btn-sm period active"          alt="week"  ng-click="getData('week')">This Week</button>
                <button type="button" class="btn btn-default btn-sm period"                 alt="month" ng-click="getData('month')">this Month</button>
                
                
                
            </div>
        </div>
    </div>
	<div class="row col-xs-12">
	
	    <!-- IMPLEMENTAMOS ANGULAR JS  -->
	 {% verbatim %}
	    <div class="col-md-4" ng-repeat="user in team">
    	    <div class="box box-primary">
                <div class="box-header"><h5 class="box-title">{{ user.owner.name }}</h5>
                    <div class="box-tools pull-right"><img src="{{ user.owner.img }}" width="40" class="img-circle"/></div>
                   
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <small class="col-sm-4 label label-success" style="font-size: 14px;"><i class="fa fa-clock-o"></i> {{ user.total }} Hrs</small>
                            </small>
                        </div>
                        <div class="col-sm-11 text-center">
                            <strong>Tasks Resume</strong>
                            <div class="pad">
                            <!-- Progress bars -->
                                <div  ng-repeat="event in user.events">
                                    <div class="clearfix">
                                        <span class="pull-left">{{ event.name }}</span>
                                        <small class="pull-right">
                                            <small class="col-sm-12 label label-primary" style="font-size: 11px;"><i class="fa fa-clock-o"></i> {{ event.value }} Hrs</small>
                                            </small>
                                    </div>
                                    <div class="progress xs">
                                        <div class="progress-bar progress-bar-green" style="width: {{ (100/user.total) * event.value  }}%;"></div>
                                    </div>
                                </div>
                                
                            <!-- Buttons -->
                                                
                            </div><!-- /.pad -->
                    </div><!-- /.col -->
                    
                    
                </div><!-- /.box-body -->
                
            </div><!-- /.box -->
            
	    </div>


	  
	    

 
	    
	    <!-- FINALIZA IMPLEMENTACION DE ANGULAR. -->
	    
	</div>
    <!--
    <div class="text-center" style="margin-top: 20px; ">
                                <input class="knob minute" data-min="0" data-max="60"  data-displayInput=true data-width="90" data-height="90" data-thickness=".3" data-step="0.1" value="10" data-fgColor="#5bc0de" data-linecap=round>
                                <br /><strong>Horas Registradas</strong>
                            </div>
    -->
   {% endverbatim %}  


	<input type="hidden" id="extraparams" value="{{extra}}" />
	<form action="#" method="POST" class="form-horizontal" role="form" id="frmTeam">
        <input type="hidden" id="token" name="csrfmiddlewaretoken"  value="{{ csrf_token }}" />
        <input type="hidden" id="type"  name="type"                 value="week" />              
    </form>
</div>
{% endblock content %}

{% block scripts %}
 <script src="{% static "theme/js/plugins/jqueryKnob/jquery.knob.js" %}"></script>
  <script src="{% static "js/jquery-ui-1.10.3.min.js" %}"></script>
<script src="{% static "js/team/list.js" %}"></script>
{% endblock scripts %}
