{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Knowledge Tips

    
    
{% endblock title %}
{% block content %}
    <form action="#" class="form-horizontal" role="form" id="frmTips">
        <input type="hidden" id="token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="text" value="" id="textsearch" />
    </form>
    <div class="row col-xs-12 text-center">
        <div class="row text-left col-xs-10 text-center" >
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="What are you looking for ..." id="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm btn-flat" id="search" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
        </div>
    </div>
    <br />
    <div id="tiplist" class="row col-xs-12">
        
    </div>

    

    

{% endblock %}
{% block scripts %}
  <script src="{% static "js/tips/home.js" %}"></script>
{% endblock scripts %}
