.badge-warning{
    background-color: #f89406; 
    color: #fff;
    
}
.badge-success{
    background-color: #468847;
    color: #fff;
    
}



.priority1{
    
    background-color: red;
    color: #fff;
}
.proority2{
    background-color: orange;
    color: #fff;
    
}

.infolabel{
    font-size: 13px;
    text-align: justify;
    
}

.infolabel-description{
    font-size: 13px;
    text-align: justify;
    font-style: italic;
    
}

.icon-info{
    
    color: #344f68;
}

.detailrow{
    margin-top: 20px;
    margin-bottom: 5px;
    
}
.row-bg-one{
    margin-top: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-bottom: solid 1px #c0c0c0;
    
}
.drivedocument:hover{
    background: red
    background-color: red;  

}

.knob{
    
}