{% extends "base.html" %}
{% load staticfiles %}
{% block title %} My Assigned Tasks
{% endblock title %}
{% block content %}


    <form action="#" class="form-horizontal" role="form" id="frmmyTasks">
        <input type="hidden" id="token"         name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" id="taskFinished"  name="finished"  value="True"  />
        <input type="hidden" id="taskType"      name="type"     value="week"  />
        
        
    </form>

    <div class="row text-left">
        <div class="col-xs-6">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm period "        alt="today">Today</button>
                <button type="button" class="btn btn-default btn-sm period active"         alt="week">This Week</button>
                <button type="button" class="btn btn-default btn-sm period"         alt="month">this Month</button>
            </div>
        </div>
        <div class="col-xs-6 pull-right right-text">
            <div class="btn-group pull-right">
                <button type="button" class="btn  btn-default btn-sm type active" alt="active">Active</button>
                <button type="button" class="btn  btn-default btn-sm type" alt="finished">Finished</button>
            </div>
        </div>
        
        
    </div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th width="50%">Task</th>
				<th>Period</th>
				<th>Progress</th>
				<th width="100">Options</th>
			</tr>
		</thead>
		<tbody id="tablebody">
		
		</tbody>
	</table>
	<form action="{% url "principal.task.showDetail" %}" method="POST" class="form-horizontal" role="form" id="frmTaskDetail">
        <input type="hidden" id="token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" id="taskId" name="taskId" value="" />              
    </form>
{% endblock content %}

{% block scripts %}
  <script src="{% static "js/task/mytasks.js" %}"></script>
{% endblock scripts %}
