{% load staticfiles %}
<tr>
	<td>{{ task.title }}<br /> {{ task.getShortDescription }}</td>
	<td>
		<img src="{% static "images/users/" %}{{ task.owner.getUrlImage }}" width="40" class="img-circle" /><br />
        <strong>{{ task.owner.name }}</strong><br>
	</td>
	<td>{{ task.datestart |date:"M d Y" }} <br /> {{ task.dateend  |date:"M d Y"}}</td>
	<td>{{ task.endpercent }}</td>
	<td>
		<button class="btn btn-xs btn-default btn-flat taskdetail" title="Show" lang="{{ task.id }}"><i class="glyphicon glyphicon-search white"></i></button>
    	<button class="btn btn-xs btn-default btn-flat taskremove" title="Remove" lang="{{ task.id }}"><a href="#" class="taskremove"><i class="glyphicon glyphicon-remove"></i></a></button>

	</td>



</tr>