{% load staticfiles %}
<div class="row invoice-info">

                            <div class="col-sm-10 invoice-col">
                                                     
                                <address>
                                    <img src="{% static "images/users/" %}{{ task.owner.getUrlImage }}" width="40" class="img-circle" />
                                    &nbsp;&nbsp;<strong>{{ task.owner.name }}</strong><br>
                                    <strong>Code: {{ task.code }}</strong><br />
                                    {{ task.description }} <br />
                                    <span class="label label-primary">{{task.estimatedhours }}&nbsp;Hrs.</span> <br />
                                    <strong>Start: </strong> {{ task.datestart |date:"M d Y"}}
                                    <strong>Finish: </strong> {{ task.dateend |date:"M d Y"}}<br>
                                    <strong>{{ task.daysLeft }} </strong>days left
                                    <br/><span class="label label-warning"><strong>{{ task.estimatedhours }}</strong></span> Estimated Hours,   <span class="label label-success"><strong>{{ task.usedhours }}</strong></span> Hours Spent
                                    
                                    
                                </address>
                            </div><!-- /.col -->



                            <div class="col-sm-2 invoice-col text-center">

                                <div style="position:absolute;left:0px;top:0px">
                                    <input class="knob minute" data-min="0" data-max="100" data-displayInput=false data-width="90" data-height="90" data-thickness=".3" value="{{ task.endpercent }}" data-fgColor="#5bc0de" data-linecap=round>
                                    <br /><span class="label label-info">{{ task.endpercent }} %</span>&nbsp;<span class="label label-danger">{{ task.getTaskLive }} %</span> <br />
                                    <strong>Adv / Time</strong>
                                </div>
                                <div style="position:absolute;left:15px;top:15px">
                                    <input class="knob second" data-min="0" data-max="100"  data-fgColor="#d9534f" data-displayInput=false data-width="60" data-height="60" data-thickness=".4" value="{{ task.getTaskLive }}" data-linecap=round>

                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->