                        
<div class="col-md-12">
	<!-- The time line -->
    <ul class="timeline">
    	<!-- timeline time label -->
    	{% for timeline in timelines %}
	        <li class="time-label">
	        	<span class="bg-red">{{ timeline.date |date:"M d Y" }}</span>
	        </li>
	        <!-- /.timeline-label -->
	        <!-- timeline item -->
	        <li>
	        	<i class="glyphicon glyphicon-link bg-blue"></i>
	            <div class="timeline-item">
	            	<span class="time"><i class="fa fa-clock-o"></i>{{ timeline.date |date:"H:i" }} </span>
	            	<h3 class="timeline-header">{{timeline.owner.name }}  <label class="label label-success">{{timeline.endpercent}} % End </label></h3>
	                <div class="timeline-body">
	                	{{ timeline.activity }}
	                </div>
	                <div class='timeline-footer'>
	                    {% if  timeline.urlreference1 != "" %}
	                	<strong>Reference 1 </strong>:&nbsp;<a href="{{ timeline.urlreference1 }}" target="_blank">{{ timeline.urlreference1 }} </a><br />
	                	{% endif %}
	                	{% if  timeline.urlreference2 != "" %}
	                	    <strong>Reference 2 </strong>:&nbsp;<a href="{{ timeline.urlreference2 }}" target="_blank">{{ timeline.urlreference2 }} </a>
	                	{% endif %}
	                </div>
	            </div>
	        </li>
	    {% endfor %}
    </ul>
</div>