<div class="col-lg-2 col-xs-4" style="height: 210px; width:154px; margin: 10px;">
	<a class="drivefile" href="{{ document.alternateLink }}" documentId="{{ document.id }}" target="_blank" title="{{ document.title }}">
		<div class="box box-success" style="height: 210px; width:154px; padding-top: 2px;">
		    <div style="text-align:center;">
		    {% if "thumbnailLink" in document %}
		    <img src="{{ document.thumbnailLink }}"style="width:150px; height: 150px;"  />
		    {%  else %}
		    <img src="{{ document.iconLink }}" />
		    {%  endif %}
		     <div style="width:100%; height:30px; font-size: 70%; overflow:hidden;"><label style="font-size: 100%; width: 100%; overflow: hidden;"> {{ document.title }}</div></label>
		    </div>
		    <div class="small-box-footer" style="text-align:center; display:none;">
		        <button class="btn btn-success btn-sm btn-flat" style="width:20px; height: 20px; font-size: 10px; padding:0px;"><i class="glyphicon glyphicon-share"></i></button>
		        <button class="btn btn-info btn-sm btn-flat"  style="width:20px; height: 20px; font-size: 10px; padding:0px;"><i class="glyphicon glyphicon-share"></i></button>
		    </div>
		</div>
	</a>
	
</div>