<div class="col-lg-2 col-xs-4">
	<a class="drivedocument" href="#" documentId="{{ document.id }}" title="{{ document.title }}">
		<div class="box box-info">
		    <div style="text-align:center;"><i class="ion ion-folder" style="color: #747474; font-size: 70px;"></i>
		     <br /> <label style="font-size: 100%;"> {{ document.title }} </label>
		    </div>
		    <div class="small-box-footer" style="text-align:center;">
		        <button class="btn btn-success btn-sm btn-flat" style="width:20px; height: 20px; font-size: 10px; padding:0px;"><i class="glyphicon glyphicon-share"></i></button>
		        <button class="btn btn-info btn-sm btn-flat"  style="width:20px; height: 20px; font-size: 10px; padding:0px;"><i class="glyphicon glyphicon-share"></i></button>
		    </div>
		</div>
	</a>
	
</div><!-- ./col -->
