{% load staticfiles %}

<div class="panel panel-default">
  <div class="panel-body comment-row">
        <div class="row">
                <div class="col-xs-12 col-sm-2 text-center">
                    <img src="{% static "images/users/" %}{{ comment.taskid.projectid.owner.id }}.png" width="40" class="img-circle" />
                    <br />{{comment.taskid.projectid.owner.first_name}}
                </div>
                <div class="col-xs-12 col-sm-10">
                    <dl>
                      <dt>{{ comment.dateadd}}</dt>
                      <dd class="infolabel-description">{{ comment.comment }}</dd>
                    </dl>
                    <br />
                </div>
        </div>
    
    </div>
</div>
<br />
