


<section class="content invoice box box-info">


<!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;{{task.title}}
                <small class="pull-right">
                    <span class="label label-{{ task.priority.classname }}">{{ task.priority.name }} Priority</span>
                </small>
            </h2>                            
        </div><!-- /.col -->
    </div>
    


    <div class='row'>
        <div class='col-xs-12'>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li class="active"><a href="#info" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp; &nbsp;Information</a></li>

                    <li><a href="#timeline" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i>&nbsp; &nbsp;Time Line</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="glyphicon glyphicon-comment"></i>&nbsp;&nbsp;Comments</a></li>
                    <li><a href="#documents" data-toggle="tab"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Documents</a></li>
                    <li><a href="#tips" data-toggle="tab"><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;Knowledge Tips</a></li>
                    <li><a href="#requests" data-toggle="tab"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Change Request</a></li>
                    
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info" >
                        <section id="new">
                            {% include "task/resume.html" %}
                        
                        </section>
                    </div>
                    

                    <div class="tab-pane" id="timeline" >
                        <section id="new-2">
                            {% include "task/timeline.html" %}
                        </section>
                    </div>



                    <div class="tab-pane" id="documents" >
                        <section id="new-2">
                            {% include "task/document.html" %}
                        </section>
                    </div>

                    <div class="tab-pane" id="comments" >
                        <section id="new-3">
                            {% include "tasks/comment.html" %}
                        </section>
                    </div>
                    
                    
                    <div class="tab-pane" id="tips" >
                        <section id="new-3">
                            {% include "tasks/tips.html" %}
                        </section>
                    </div>


                </div>
            </div>
        </div>
    </div>    
</section>



