
{% load staticfiles %}

<div class="panel panel-primary">
<div class="panel-heading"><i class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;<span style="font-size: 18px">Task No. {{ task.id }}</span></div>
  <div class="panel-body">

    <!--<div class="well" id="projectdata">-->

    <div class="row">
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-th-large icon-info"></span>&nbsp;<p class="label label-info">Project:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.projectid.title }}</div>
        
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-bookmark icon-info"></span>&nbsp;<p class="label label-info">Task:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.title }}</div>
    </div>
    
    <div class="row">
    
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-tag icon-info"></span>&nbsp;<p class="label label-info">Task Type:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.typeid.name }}</div>
        
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-user icon-info"></span>&nbsp;<p class="label label-info">Asigned By:</p></div>
        <div class="col-xs-12 col-sm-4">
            
            <img src="{% static "images/users/" %}{{ task.projectid.owner.id }}.png" width="40" class="img-circle" /><br />
                        {{task.projectid.owner.first_name}}
                       
            
        </div>
        
        
    </div>
    
    
    <div class="row">
    
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-calendar icon-info"></span>&nbsp;<p class="label label-info">Date Start:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.datestart }}</div>
        
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-calendar icon-info"></span>&nbsp;<p class="label label-info">Date End:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.dateend }}</div>
        
    </div>
    
    
    <div class="row">
    
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-certificate icon-info"></span>&nbsp;<p class="label label-info">Priority:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.priority }}</div>
        
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-tasks icon-info"></span>&nbsp;<p class="label label-info">End Percent:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.endpercent }}</div>
        
        
    </div>
    
    
    <div class="row">
    
        <div class="col-xs-12 col-sm-2"><span  class="glyphicon glyphicon-time icon-info"></span>&nbsp;<p class="label label-info">Estimate Hours:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.estimatedhours }}</div>
        
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-time icon-info"></span>&nbsp;<p class="label label-info">Hours Used:</p></div>
        <div class="col-xs-12 col-sm-4">{{ task.occupiedhours }}</div>
        
        
        
        
    </div>
    
    
    <div class="row">
    
        <div class="col-xs-12 col-sm-2"><span class="glyphicon glyphicon-th-list icon-info"></span>&nbsp;<p class="label label-info">Task Description:</p></div>
        <div class="col-xs-12 col-sm-10 infolabel-description">{{ task.description }}</div>
        
        
    </div>

	
<!--</div>-->


  
   
        
  </div>
</div>
