<!--
<section class="content">
    <div class='row'>
        <div class='col-xs-12'>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timeline" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp; &nbsp;Time Line</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Comments</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp;Documents</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;Knowledge Tips</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;Change Request</a></li>
                    
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="timeline" >
                        <section id="new">
                            <h3>Time Line</h3>
                            {% include "task/timeline.html" %}
                        </section>
                    </div>

                    <div class="tab-pane" id="comments" >
                        <section id="new">
                            {% include "tasks/comment.html" %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->