{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <a href="{% url "principal.task.taskAdd" %}">Add New Project</a>

    <h2>My Tasks</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Estimate Completion</th>
                <th>Estimate Time(Hrs)</th>
                <th>Advance</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <strong>{{ task.title }}</strong><br />
                    <span class="label label-primary"> {{task.projectid.title}} </span><br />
                </td>
                <td>
                    <span class="badge badge-warning">10</span>&nbsp;
                       <span class="badge badge-success">5</span><br />
                    
                    {{task.dateend }}
                </td>
                
                <td>
                    {{ task.estimatedhours }} Hrs.
                </td>
                
               
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.endpercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.endpercent }}%;">
                            {{ task.endpercent }}%
                        </div>
                    </div>
                </td>
                
                <td>
                    <span class="badge priority{{ task.priority }}">{{ task.priority }}</span>&nbsp;
                    
                </td>
                <td width="100">
                
                        <button class="btn btn-xs btn-default showDetail" internalid="{{ task.id }}"><i class="glyphicon glyphicon-search white"></i></button>
                </td>
                
            </tr>
            
            {% endfor %}
            
        </tbody>
        
    </table>
    
    <form method="post" action="{% url "principal.task.taskShow" %}" id="frmDetail">
        {% csrf_token %}
        <input type="hidden" id="taskid" name="taskid" value="" />
    </form>
    
{% endblock %}
{% block scripts %}
<script  src="{% static "js/task/list.js" %}"></script>

{% endblock scripts %}
