{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <br />
    {% include "tasks/detail.html" %}
    
     <br />
    {% include "tasks/history.html" %}
    
    <input type="hidden" name="taskid" id="taskid" value="3" />
    <input type="hidden" id="token" value="{{ csrf_token }}"
    
{% endblock %}
{% block scripts %}
<script  src="{% static "js/task/list.js" %}"></script>
<script  src="{% static "js/task/comment.js" %}"></script>
<script  src="{% static "js/task/history.js" %}"></script>

{% endblock scripts %}
