{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <h4>Task Detail</h4>
{% endblock title %}
{% block content %}
    {% include "tasks/detail.html" %}
   
    <form class="form-signin" role="form" action="{% url "principal.task.taskSave" %}" method="post">
    {% csrf_token %}
            <input type="hidden" name="taskid" id="taskid" value="{{ task.id}}" />
    </form>
    
{% endblock content %}
{% block scripts %}

<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
<script src="{% static "theme/js/plugins/jqueryKnob/jquery.knob.js" %}" type="text/javascript"></script>
<script src="{% static "js/task/detail.js" %}"></script>
<script  src="{% static "js/task/list.js" %}"></script>
<script  src="{% static "js/task/comment.js" %}"></script>
<script  src="{% static "js/task/history.js" %}"></script>
<script  src="{% static "js/task/timeline.js" %}"></script>
<script  src="{% static "js/task/tips.js" %}"></script>
<script  src="{% static "js/document/class/DocumentClass.js" %}"></script>
<script  src="{% static "js/task/document.js" %}"></script>

{% endblock scripts %}
