{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!--  #######################    NEW PROJECT FORM, I try to put all comments in english ######################### -->


<section class="content invoice box box-info">
<div class="row" ng-controller="contentController">
  <div class="col-md-8">
    <div class="" >
      <div class="box-header">
        <h3 class="box-title">New Project</h3>  
      </div>

        <form class="form-horizontal" id="formProject" name="form" novalidate role="form" action="{% url "principal.project.projectSave" %}" method="post">
            {% csrf_token %}
            <div class="form-group"  ng-class="{ 'has-error': form.title.$invalid && form.title.$dirty }">
                <label class="col-sm-4 control-label">* Title</label>
                <div class="col-xs-8">
                  <input type="text" name="title" ng-model="title" id="title" class="form-control input-sm" maxlength="2000" data="{{ project.title }}" required />
                </div>
             </div>


             <div class="form-group"  ng-class="{ 'has-error': form.code.$invalid && form.code.$dirty }">
                <label class="col-sm-4 control-label">* Project Code</label>
                <div class="col-xs-8">

                  <input type="text" name="code"  ng-model="code" id="code" class="form-control" maxlength="100" data="{{ project.code }}" required />
                </div>
             </div>

            <div class="form-group"  ng-class="{ 'has-error': form.clientid.$invalid && form.clientid.$dirty }">
                <label class="col-sm-4 control-label">* Client</label>
                <div class="row">
                    <div class="col-xs-4">
                      <select name="clientid" id="clientid" class="form-control" ng-model="clientid"  data="{{ project.client.id }}" required>
                            {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}

                      </select>

                    </div>
                    <div class="col-xs-1">
                        <a class="btn  btn-primary btn-flat" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                </div>
             </div>


            <div class="form-group"  ng-class="{ 'has-error': form.owner.$invalid && form.owner.$dirty }">
                <label class="col-sm-4 control-label">* Owner</label>
                <div class="col-xs-5">
                  <select name="owner" class="form-control"  id="owner" ng-model="owner" data="{{ project.owner.id }}" required >
                      {% for owner in users %}
                          <option value="{{ owner.id }}">{{ owner.name }}</option>
                      {% endfor %}

                  </select>
                </div>
             </div>

             <div class="form-group"  ng-class="{ 'has-error': form.projecttypeid.$invalid && form.projecttypeid.$dirty }">
                <label class="col-sm-4 control-label">* Project Type</label>
                <div class="col-xs-5">
                  <select name="projecttypeid" id="projecttypeid" class="form-control" data="{{ project.typeproject.id }}" ng-model="projecttypeid" required>

                      {% for projecttype in projectstype %}
                          <option value="{{ projecttype.id }}">{{ projecttype.name }}</option>
                      {% endfor %}

                  </select>
                </div>
             </div>



            <div class="form-group">
                <label class="col-sm-4 control-label">*Start Date</label>
                <div class="col-xs-5">
                  <input type="text" name="datestart" readonly="readonly"  id="datestart" ng-model="datestart"   data="{{ project.datestart |date:"Y-m-d"  }}" class="form-control"  />
                </div>
             </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">*End Date</label>
                <div class="col-xs-5">
                  <input type="text" name="dateend" readonly="readonly" ng-model="dateend" id="dateend" class="form-control" data="{{ project.dateend |date:"Y-m-d"}}" />
                </div>
             </div>

            <div class="form-group" ng-class="{ 'has-error': form.description.$invalid && form.description.$dirty }">
                <label class="col-sm-4 control-label">* Description</label>
                <div class="col-xs-8">
                  <textarea name="description" id="description" data="{{ project.description }}" ng-model="description" class="form-control" rows="4" required></textarea>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-xs-5">

                    <button class="btn btn-success btn-flat" id="btnSave" type="submit" ng-disabled="form.$invalid">Save</button>
                    <a class="btn btn-primary btn-flat" href="{% url "principal.project.projectList" %}" role="button">Go Back</a>
                </div>
            </div>
            <input type="hidden" value="{{ project.id }}" name="id" id="projectId" ng-model="id" data="{{ project.id }}" />
        </form>
      </div>
    </div>
  </div>


</section>





<!-- ############## MODAL PARA NUEVO CLIENTE ############################### -->




  
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="newClientController">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">New Client</h4>
          </div>
          <div class="modal-body">
                <form action="#" class="form-horizontal" role="form"  id="frmNewClient"  novalidate  name="formUser" >
                  <input type="hidden" id="token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                  {% include "client/new.html" %}
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-flat btn-primary" id="btnSaveClient" ng-disabled="formUser.$invalid" >Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
{% endblock content %}

{% block scripts %}
  <script src="{% static "js/client/save-ajax.js" %}"></script>
  <script src="{% static "js/project/new.js" %}"></script>
{% endblock scripts %}
