

<div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" name="userName" id="userName" class="form-control" />
                    </div>
                </div>
</div>
            
            
<div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" name="userEmail" id="userEmail" class="form-control" />
                    </div>
                </div>
</div>
        

        
<div class="form-group">
                <label class="col-sm-3 control-label">Profileeeee  {{ profiles  }}</label>
                <div class="row">
                    <div class="col-xs-7">
                        <select name="userProfile" ng-model="profile" ng-options="profile.name for profile in profiles">
                            <option ng-repeat="profile in profiles">{{ profile.name }}</option>
                            <option>Select profile ---</option>
                        </select>
                    </div>
                </div>
</div>  

<input type="hidden" id="userId" name="userId" value="" />
 